In [2]:
pwd

'C:\\Users\\nicol\\Downloads'

In [148]:
import pandas as pd
import numpy as np
import plotly.express as px
from IPython.display import display

In [149]:
def display_full(df):
    with pd.option_context('display.max_rows', None, 'display.max_columns', None):
        display(df)

In [141]:
def drop_box_score(df):
    return df.drop(columns='Unnamed: 6')

def rename_ot(df):
    df = df.rename(columns={'Unnamed: 7': 'OT'})
    df['OT'] = df['OT'].replace('OT', '1OT').replace(r'(\d)OT', r'\1', regex=True).fillna(0)
    return df

def transform_dates(df):
    df['Date'] = pd.to_datetime(df['Date'])
    return df

def attendance_to_int(df):
    df = df.rename(columns={'Attend.': 'Attendance'})
    df['Attendance'] = df['Attendance'].astype(int)
    return df

def preprocess(df):
    return (df.pipe(drop_box_score)
            .pipe(rename_ot)
            .pipe(transform_dates)
            .pipe(attendance_to_int)
           )

In [142]:
october = preprocess(pd.read_csv('october-schedule.txt')).rename(columns={'VisitorNeutral': 'Visitor/Neutral', 'HomeNeutral': 'Home/Neutral'})
november = preprocess(pd.read_csv('november-schedule.txt'))
december = preprocess(pd.read_csv('december-schedule.txt'))
january = preprocess(pd.read_csv('january-schedule.txt'))
february = preprocess(pd.read_csv('february-schedule.txt'))
march = preprocess(pd.read_csv('march-schedule.txt'))
april = preprocess(pd.read_csv('april-schedule.txt'))

In [143]:
october = october.rename(columns={'VisitorNeutral': 'Visitor/Neutral', 'HomeNeutral': 'Home/Neutral'})
october['Start (ET)'] = october['Start (ET)'].str.replace(r'(\d{1,2})(\d{2})(.)', r'\1:\2\3', regex=True)
october['LOG'] = october['LOG'].astype(str).str.replace(r'(\d)(\d{2})', r'\1:\2', regex=True)

In [144]:
schedule = pd.DataFrame()
for df in [october, november, december, january, february, march, april]:
    schedule = pd.concat([schedule, df])

In [145]:
teams = list(schedule['Visitor/Neutral'].unique())
len(teams)

30

In [146]:
schedule

,Date,Start (ET),Visitor/Neutral,PTS,Home/Neutral,PTS.1,OT,Attendance,LOG,Arena,Notes
0,2024-10-22,7:30p,New York Knicks,109,Boston Celtics,132,0,19156,2:04,TD Garden,NaN
1,2024-10-22,10:00p,Minnesota Timberwolves,103,Los Angeles Lakers,110,0,18997,2:26,Crypto.com Arena,NaN
2,2024-10-23,7:00p,Indiana Pacers,115,Detroit Pistons,109,0,20062,2:23,Little Caesars Arena,NaN
3,2024-10-23,7:30p,Brooklyn Nets,116,Atlanta Hawks,120,0,17548,2:33,State Farm Arena,NaN
4,2024-10-23,7:30p,Orlando Magic,116,Miami Heat,97,0,19630,2:31,Kaseya Center,NaN
...,...,...,...,...,...,...,...,...,...,...,...
100,2025-04-13,3:30p,Utah Jazz,105,Minnesota Timberwolves,116,0,18978,2:04,Target Center,NaN
101,2025-04-13,3:30p,Oklahoma City Thunder,115,New Orleans Pelicans,100,0,17761,2:09,Smoothie King Center,NaN
102,2025-04-13,3:30p,Los Angeles Lakers,81,Portland Trail Blazers,109,0,19335,2:03,Moda Center,NaN
103,2025-04-13,3:30p,Phoenix Suns,98,Sacramento Kings,109,0,17832,1:52,Golden 1 Center,NaN
104,2025-04-13,3:30p,Toronto Raptors,118,San Antonio Spurs,125,0,18672,2:14,Frost Bank Center,NaN